.Lebar{
    width: 30%;
}

.kotak{
    background-color: red;
    height: 10vh;
    color: white;
}

.carousel-item img{
    height: 50vh;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

body::after{
    content: "XS";
    position: fixed;
    right: 0;
    top: 0;
}

@media (min-width: 576px){
    body::after{
        content: "SM";
    }
}
@media (min-width: 768px){
    body::after{
        content: "MD";
    }
}
@media (min-width: 992px){
    body::after{
        content: "LG";
    }
}
@media (min-width: 1200px){
    body::after{
        content: "XL";
    }
}
@media (min-width: 1400px){
    body::after{
        content: "XXL";
    }
}