.border{
    border: 1px solid #030303;
    
}

.wadah{
    width: 700px;
    margin: auto;
}

h2:hover{
    background-color: red;
}

.card:target{
    background-color: yellow;
}

p::first-letter{
    color: red;
    font-size: xx-large;
}

.display{
    display: inline-block;
    padding: 3%;
}

.display:hover{
    animation-name: animasi;
    animation-duration: 5s;
}

@keyframes animasi{
    0%{background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: blue;}
    100% {background-color: green;}
}

.warna{
    background-image: linear-gradient(to right, red,yellow);
    color: white;
}

img{
    width: 100px;
}

.card{
    width: 30%;
    padding: 5%;
    box-sizing: border-box;
}

.horizontal{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.rata{
     text-align: center;
}

@media only screen and (max-width:500px) {
    *{
        margin:0px;
        padding: 0px;
    }
    .tempat{
        width: 80%;
    }
    .lebar{
    width: 100%;
    }
    .respon{
        display: flex;
        flex-direction: column;
    }
}

