.border{
    border: 1px solid #030303;
    
}

.wadah{
    width: 700px;
    margin: auto;
}

.display{
    display: inline-block;
    padding: 3%;
}

.warna{
    background-image: linear-gradient(to right, red,yellow);
    color: white;
}

img{
    width: 100px;
}

.card{
    width: 30%;
    padding: 5%;
    box-sizing: border-box;
}

.horizontal{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.rata{
     text-align: center;
}