.lebar {
  width: 30%;
}

body::after {
  content: XS;
  position: fixed;
  right: 0;
  top: 0;
}

@media (min-width: 576px) {
  body::after {
    content: SM;
  }
}

@media (min-width: 760px) {
  body::after {
    content: MD;
  }
}
@media (min-width: 992px) {
  body::after {
    content: LG;
  }
}

@media (min-width: 1200px) {
  body::after {
    content: XL;
  }
}

@media (min-width: 1400px) {
  body::after {
    content: XXL;
  }
}